footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: #f8f9fa; /* 기본 배경색 */
    text-align: left; /* 왼쪽 정렬 */
}

footer .text-uppercase {
    font-weight: bold;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #007bff;
}

footer .bg-dark {
    padding: 10px 0;
    text-align: left; /* Footer 하단 텍스트도 왼쪽 정렬 */
}
