<footer class="bg-light text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="text-uppercase">Pisces ML</h5>
                <p>
                    데이터를 활용하여 소비자가 더 나은 결정을 내릴 수 있도록 돕습니다.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/" class="text-dark">홈</a></li>
                    <li><a href="/predict/" class="text-dark">예측하기</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 mb-4">
                <h5 class="text-uppercase">e-mail</h5>
                <p>
                    김상겸: vhf1030@naver.com<br>
                    원정환: wonjeonghwan@naver.com<br>
                    지서연: chiseoyeon@gmail.com<br>
                </p>
            </div>
        </div>
    </div>
    <div class="p-3 bg-dark text-white">
        2025 Pisces ML. Beta Version.
    </div>
</footer>
